<p>{{ 'password_reset.email.greeting'|trans }}</p>

<p>{{ 'password_reset.email.intro'|trans }}</p>

<p>
    <a href="{{ url('app_reset_password', { token: resetToken.token }) }}">
        {{ url('app_reset_password', { token: resetToken.token }) }}
    </a>
</p>

<p>
    {{ 'password_reset.email.valid_for'|trans }}
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>{{ 'password_reset.email.ignore'|trans }}</p>

<p>
    {{ 'password_reset.email.closing'|trans }}<br>
    {{ 'password_reset.email.signature'|trans }}
</p>
